[run]
source = qelos
omit =
    */__init__.py
    qelos/scripts/*
    test
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*